@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
  
  --color-brand-cream: #f5f2ed;
  --color-brand-ink: #1a1a1a;
  --color-brand-gold: #c5a059;
}

body {
  @apply bg-brand-cream text-brand-ink font-sans antialiased;
}

h1, h2, h3, h4, .serif {
  @apply font-serif;
}
